<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bid.woou.bwouo.system.mapper.PermissionMapper">
    <select id="findAll" resultType="bid.woou.bwouo.system.domain.Permission">
        SELECT *
        FROM sys_permission

    </select>
    <select id="findByAdminUserId" parameterType="int"
            resultType="bid.woou.bwouo.system.domain.Permission">
        select p.*
        from Sys_User u
            LEFT JOIN sys_user_role sru on u.user_id= sru.Sys_User_id
            LEFT JOIN Sys_Role r on sru.Sys_Role_id=r.role_id
            LEFT JOIN Sys_permission_role spr on spr.role_id=r.role_id
            LEFT JOIN Sys_permission p on p.id =spr.permisson_id
        where u.user_id=#{userId}
    </select>
</mapper>